@media (max-width:1080px) {#centerbg {display:block;} }
      @media ( prefers-color-scheme: dark ) {
        .cd-top { 
          background:url(../images/gotop-dark.png) no-repeat center 50% !important;
        }
      }
      .site-header {
        background: #fff0;
      }
      .headertop {
        margin-top: 0px;
      }
      .focusinfo {
        top: 47%;
      }
      @media (min-width: 860px) {
        #centerbg {
          height: 630px;
        }
      }
      @media (max-width: 860px) {
        #centerbg {
          height: 450px;
        }
      }
      #archives-temp {
        margin-top: 130px;
      }
        /* 到顶部按钮 */
  .wedonate img { 
    margin-right: 10px;
  }
  .cd-top { 
    background:url(../images/gotop.png) no-repeat center 50%;
  }